
body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    flex-flow: nowrap;
    /* position: fixed; */
    /* position: sticky; */
}
@media (max-width: 800px) {
    .top-container {
        width: 100%;
        height: auto;
    }
}

.top-container ul {
    display: flex;
    justify-content: space-around;
}

.top-container li {
    list-style-type: none;
    margin-left: 50px;
    padding: 10px;
}
a.man {
    text-decoration: none;
    color: hsl(170, 46%, 37%);
    font-size: 20px;
}

a.man:hover {
    font-weight: 700;
}

.middle-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    /* height: 500px; */
    /* align-content: center; */
}
@media (max-width: 800px) {
     .middle-container {
         flex-flow: wrap-reverse;
         align-content: center;
         align-items: center;
     }
     .middle-container img {
         width: 100%;
         height: auto;
     }
}

.big {
    color: hsl(243, 91%, 9%);
    font-size: 40px;
    font-weight: 700;
}

.small {
    color: hsl(243, 83%, 14%);
    font-weight: 700;
}

.mini-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex-flow: wrap; */

}

input#email {
    outline: none;
    font-size: 16px;
    width: 250px;
    padding: 10px;
    border-radius: 3px;
}

.mini-box button {

    background-color: blue;
    border: none;
    color: #ffffff;
    font-weight: 700;
    width: 200px;
    margin-left: 10px;
    padding: 13px;
    border-radius: 3px;
}
 .mini-box button:hover {
    background-color: rgb(207, 230, 250);
    color: grey;
    font-size: 16px;
} 
.img-container {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    /* position: relative; */
}

.selfie {
    width: 100%;
    /* box-sizing: border-box; */
    /* position: absolute; */
}

.lower-container {
    /* position: absolute;
    top: 104px; */
    display: flex;
    background-color: hsl(240, 75%, 98%);
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    /* margin-top: 40px; */
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 800px) {
    .lower-container {
        flex-flow: wrap-reverse;
        align-content: center;
        align-items: center;
    }
    .lower-container img {
        width: 100%;
    }
    
.lower-container img.pot {
    width: 7%;
}
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: hsl(243, 91%, 9%);
}
p {
    color: hsl(243, 91%, 9%);
    font-weight: 400;
    /* text-indent: 10px; */
}
a.can {
    color: rgb(73, 151, 125);
    text-decoration: underline;
    font-size: 20px;
}

a.can:hover {
     font-weight: 700;
     text-decoration: none;
}
.highlight {
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    text-align: left;
    /* box-shadow: 5px 5px 5px #ffffff; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: hsl(243, 81%, 10%);
    margin-top: 30px;
    /* align-content: flex-start; */
}
/* b {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
} */
.pot {
    width: 7%;
}

img.pic {
    border-radius: 50%;
    margin-left: 10px;
    width: 50px;
}

.image {
    margin-left: 25px;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.blockcite {
    display: flex;
    flex-direction: column;
    /* align-items: cen; */
    justify-content: start;
    text-align: left;
    margin-left: 10px;
    line-height: 2px;
    /* height: 100px; */
}

span {
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
}
 
.name {
    font-size: 14px;
}


.lowest-container {
    background-color: hsl(240, 32%, 45%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    /* box-sizing: border-box; */
}

@media (max-width: 800px) {
    .lowest-container {
        flex-flow: wrap;
        align-content: center;
        align-items: center;
    }
}

.box-5 {
    color: #ffffff;
}
.box-5 h2 {
     /* font-weight: 700; */
     font-size: 40px;
}
.box-5 p {
    color: #ffffff;
    font-size: 17px;
    /* line-height: 2; */
}

.box-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
}

.box-6 input {
     
    outline: none;
    font-size: 16px;
    width: 300px;
    padding: 15px;
    border-radius: 3px;   
}

.box-6 button {
    background-color: blue;
    border: none;
    color: #ffffff;
    font-weight: 700;
    width: 200px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 3px;
    font-size: 16px;
}

.box-6 button:hover {
    /* font-size: large; */
    background-color: rgb(96, 96, 228);
    font-size: 18px;
}

footer {
    background-color: rgb(37, 37, 75);
    padding: 50px;
    /* text-align: center; */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 }
 @media (max-width: 800px) {
    footer {
        flex-flow: wrap;
        align-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    .box-8 img {
        width: 100%;
    }
    .box-7 {
        flex-flow: wrap;
        flex-direction: column;
        align-content: stretch;
        align-items: center;
    }
    .box-7 ul.b {
        /* text-align: center; */
        margin: auto;
    }
 }


.pot {
    width: 10%;
}

.box-8 {
    padding: 15px;
    /* margin-left: 150px; */
}


.box-7 {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    /* flex-flow: wrap; */
    padding: 10px;
}

.box-7 ul.a {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    line-height: 2;
}

.box-7 a.woman {
    color: #ffffff;
    text-decoration: none;
}

.box-7 a.woman:hover {
    font-weight: 700;
    color: pink;
}

.box-7 ul.b {
    display: flex;
    list-style-type: none;
    justify-content: stretch; 
    align-content: stretch;
}

.box-7 i {
    width: 29px;
    margin-left: 10px;
}















